body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  background: #E6E6FA;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
